@using EthanYoung.PersonalWebsite.Web.Models
@{
    ViewBag.Title = "About This Site";
}
@section header {
    @Html.Partial("_header", new HeaderModel {IsAboutThisSiteActive = true})
}
<p>
    Show the about information here.
</p>