@using EthanYoung.PersonalWebsite.Web.Models
@{
    ViewBag.Title = "About This Site";
}
@section header {
    @Html.Partial("_header", new HeaderModel {})
}
<p>
    Show the error information here.
</p>