@using EthanYoung.PersonalWebsite.Web.Models
@{
    ViewBag.Title = "Page Not Found";
}
@section header {
    @Html.Partial("_header", new HeaderModel {})
}
<h1>Page Not Found</h1>
<p>
	I can't remember where I put that page.
</p>