@using EthanYoung.PersonalWebsite.Web.Models
@{
    ViewBag.Title = "Welcome";
}
@section header {
    @Html.Partial("_Header", new HeaderModel {IsHomeActive = true})
}
<div class="jumbotron">
    <h1>Ethan Young</h1>
    <p>
        I built this site mostly as a hobby. Yes, I am a big enough nerd to want to build a website on the weekends for fun.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="@Url.Action("Index", "Trips")">Trips</a></h2>
        <p>
            This section contains pictures from some of the trips I've taken. Most of them involve skiing and motorcycle touring: my two main hobbies.
        </p>
    </div>
    <div class="col-md-4">
        <h2><a href="@Url.Action("Index", "AboutThisSite")">About This Site</a></h2>
        <p>
            Anyone interested in how this site was built can get some information in this section.
        </p>
    </div>
    <div class="col-md-4">
        <h2><a href="@Url.Action("Index", "Resume")">Resume</a></h2>
        <p>
            I'm a software developer specializing in .NET web development. I'll keep my resume up to date when I'm actively looking for a job,
            but it may get out of date when I'm only passively looking.
        </p>
    </div>
</div>
