@using EthanYoung.PersonalWebsite.Web.Models
@{
    ViewBag.Title = "Error";
}
@section header {
    @Html.Partial("_header", new HeaderModel {})
}
<h1>Oh no! An error!</h1>
<p>
	That didn't go very well. Cross your fingers and try again.
</p>