@using EthanYoung.PersonalWebsite.Web.Models
@{
    ViewBag.Title = "Trips";
}
@section header {
    @Html.Partial("_header", new HeaderModel {IsTripsActive = true})
}
<p>
    Show the @ViewBag.TripId photo gallery here.
</p>